*,
*::before,
*::after {
    font-family: sans-serif;
    box-sizing: border-box;
}

html,
body {
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1080px;
    margin: 30px auto;
    align-items: stretch;
    align-content: stretch;
    justify-content: stretch;
    position: relative;

    & > * {
        flex: 1 1 0%;
        border: 1px dotted silver;
    }

    & > form#iteration-info {
        display: flex;
        flex-wrap: wrap;
        max-width: 502px;
        min-width: 502px;
        margin: 0 20px 0 0;
        position: relative;
        &::before {
            content: "Iteration Information";
            display: inline-block;
            position: absolute;
            background-color: white;
            color: #aab;
            transform: translate(10px, -50%);
            padding: 0 5px;
            font-size: 12px;
            top: 5px;
        }

        section.form-fields {
            margin: 5px 0 15px;
            padding: 20px 10px;
            border: 1px solid #94949f;
            border-radius: 10px;
            display: block;
            min-width: 100%;
            width: 100%;
            height: 130px;
            max-height: 130px;
            div {
                margin: 10px 0 0px;
                position: relative;

                & + div {
                    margin-top: 25px;
                }

                input {
                    border: 1px solid #aaa;
                    border-radius: 6px;
                    font-size: 18px;
                    width: 100%;
                    height: 30px;
                    padding: 0 0 2px 8px;
                    transition: color 0.15s ease-out;
                    color: white;
                    &:focus,
                    &:valid {
                        color: black;
                    }
                    &:focus + label,
                    &:valid + label {
                        margin: -50px 0 0 -5px;
                        font-size: 13px;
                    }
                }

                label {
                    display: inline-block;
                    width: 100px;
                    position: absolute;
                    height: 26px;
                    line-height: 26px;
                    margin: -28px 0 0 5px;
                    padding-left: 5px;
                    color: #aaa;
                    width: 500px;
                    transition: all 0.15s ease-out;
                    transition-property: font-size, margin-top;
                    em {
                        display: inline-block;
                        vertical-align: baseline;
                        font-size: 80%;
                    }
                }
            }
        }

        & > section.file-drop-target {
            max-height: calc(100% - 90px);

            label.file-dropzone {
                display: block;
                border: 4px dashed #94949f;
                background-color: #f3f6fa;
                border-radius: 20px;
                overflow: hidden;
                min-height: 270px;
                width: 500px;
                min-width: 500px;
                position: relative;
                font-weight: bold;
                color: #0006;

                &:after {
                    content: "Drag & Drop your JIRA .CSV exports here!";
                    position: absolute;
                    line-height: 3.5;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    font-size: 22px;
                    padding: 10px 20px 0;
                }
                &:before {
                    content: "...or click to browse!";
                    position: absolute;
                    text-indent: -10px;
                    display: block;
                    line-height: 1;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    font-size: 16px;
                    padding: 3% 10%;
                    bottom: 0;
                    left: 0;
                    z-index: 10;
                    line-height:420px;
                    background: transparent
                        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='opacity:0.2;' viewBox='0 0 20 17'%3E%3Cpath d='M10 0L4.8 4.9h3.3V10h3.8V4.9h3.3L10 0zm9.3 11.5l-3.2-2.1h-2l3.4 2.6H14l-.2.1-.8 2.3H7l-.8-2.2L6 12H2.4l3.4-2.6h-2L.6 11.5c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9L20 13c.1-.5-.2-1.2-.7-1.5z'/%3E%3C/svg%3E")
                        center 80px no-repeat;
                    background-size: 128px;
                }

                [type="file"] {
                    position: absolute;
                    margin-left: -400px;
                }
            }
        }
    }

    & > div.sort-order {
        max-width: 550px;
        height: 465px;
        position:relative;

        button {
            width:50%;
            height:40px;
            position:absolute;
            bottom:0;
            right:0;
            overflow:hidden;
            max-width:40px;
            white-space: nowrap;
            transition: 0.3s all ease-in-out;
            font-size: 16px;
            text-indent: 40px;
            font-weight: bold;
            text-shadow: 0 -1px 0 #FFF;
            
            
            &::after{
                content:'';
                text-indent: -40px;
                color:white;
                line-height: 40px;
                font-size:40px;
                text-indent: 0px;
                position: absolute;
                display: block;
                width:40px;
                height:40px;
                left:0;
                top:0;
                text-align: center;
                transition:content 0.1s ease-in-out, margin-left 0.27s ease-in-out;
            }
            
            &:hover {
                max-width:50%;
            }
            
            &.done-sorting {
                border:2px solid green;
                background-color:lighten(green, 50%);
                
                &::after {
                    content:'✓';
                    background:green;
                    font-weight: normal
                }
            }
            
            &.insert-missing-day {
                border:2px solid #003bbc;
                background-color:lighten(#84a7f2, 15%);
                right:unset;
                left:0;
                text-indent:-40px;
                
                &::after {
                    background:#003bbc url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 127 114' fill='white'%3E%3Cpath fill-rule='evenodd' d='M122.8 45.9h-5.3v-4.3h9.5V48h-4.2v-2zm-17.2-4.3H116V46h-10.3v-4.3zM35.4.3h79v27h-79V.3zM18 73.8a17.4 17.4 0 1 1-.1-34.8 17.4 17.4 0 0 1 0 34.8zm12-21.4h-8v-8h-8v8H6v8h8v8h8v-8h8v-8zm27 4.1L42.7 67v-6.4H38v-8.2h4.7V46L57 56.5zm49.5 14.8H96.4v-4.2h10.2v4.2zm-3-29.7V46H93.3v-4.3h10.2zm-10 29.7H83.4v-4.2h10.2v4.2zm-3-29.7V46H80.3v-4.3h10.2zm-9.2 29.7H71v-4.2h10.3v4.2zM78 41.6V46H67.8v-4.3h10.3zM69 71.3h-9.4V65h4.2v2h5.2v4.2zm-5-8.5H59v-10h5v10zm1.8-21.2V46h-2V51h-4.2v-9.5h6.2zm48.8 71.7H35.4v-27h79v27zM108.8 67H119v4.2h-10.3v-4.2zM127 49.8v10h-4v-10h4zm-4.3 12h4.3v9.5h-6.3v-4.2h2v-5.2z'/%3E%3C/svg%3E") 3px 5px no-repeat;
                    background-size: 75%;

                }
                &:hover::after {
                    margin-left:calc(100% - 40px);
                }
            }

            &:disabled {
                border:2px solid #AAA;
                background-color:#ccc;
                opacity:0.75;
                cursor: not-allowed;
                max-width: 40px;

                &::after {
                    background-color:#BBB;
                }

                &:hover::after {
                    content:' ⃠ ';
                    font-weight:bold;
                    font-size:32px;
                    text-indent:-2px;

                }
            }
        }
    }

    .pbars {
        min-width:95%;
        height:25px;
        text-align:center;
    }
}

ul {
    margin: 0;
    padding: 0;

    li {
        display: block;
        position: relative;
        max-width: 600px;
        width: calc(100% - 35px);
        height: 32px;
        font-size: 12px;
        margin: 5px 0 5px 35px;
        line-height: 32px;
        text-indent: 20px;

        &::before {
            content: "";
            display: block;
            height: 32px;
            width: 100%;
            line-height: 30px;
            border-radius: 30px;
            background: #eee;
            color: #333;
            list-style: none;
            border: 2px solid #aaa;
            cursor: grabbing;
            transition: 0.3s all ease-in-out;
            position: absolute;
            z-index: -1;
        }

        &::after {
            content: attr(data-slot);
            display: block;
            height: 30px;
            width: 30px;
            line-height: 38px;
            border-radius: 50%;
            background: #aaa;
            color: #000;
            transition: 0.3s all ease-in-out;
            position: absolute;
            z-index: -1;
            top:0;
            left: -35px;

            text-indent:0;
            text-align:right;
            padding:0;
            font-size:30px;
            letter-spacing: -5px;
            padding-right:5px;
            font-weight:bold;
            color:white;
        }
        &.drag-sort-active {
            background: #eee6;
            color: #3333;
            border: 2px dashed #aaa6;
            transition: 0.3s all ease-in-out;
            transform: scale(0.95);
        }
    }
}

.output-table {
    min-width: 95%;
}

$bar-size:18px;
.progress-bar {
    display:inline-block;
    animation: manifest 0.2s ease-out calc(var(--bc) * 1s) forwards;
    width:$bar-size * 12;
    height:$bar-size;
    line-height:calc(#{$bar-size - 0.5});
    text-align:left;

    border:1px solid #333;
    border-radius: $bar-size / 3;
    margin:$bar-size * 0.4;
    position:relative;
    overflow:hidden;
    background: var(--bar-color) repeating-linear-gradient(45deg, #FFF8 0, #FFF8 10px, #FFFB 10px, #FFFB 20px);
    box-shadow: inset 2px 2px 0 #FFF, inset 2px -2px 0 #FFF, inset -2px 2px 0 #FFF, inset -2px -2px 0 #FFF;
    opacity:0; transform:scale(0);

    &::before, &::after{
        content:'';
        border-radius: $bar-size / 3.5;
        width:100%;
        height:100%;
        position:absolute;
        z-index:1;
    }

    &::after {
        content:attr(title);
        text-align:center;
        font-weight:bold;
        line-height: $bar-size -0.5;
        color:#FFFC;
        text-shadow:0 0 0 var(--bar-color), 0 -1px 0 #0005, 0 1px 0 #0005, -1px 0 0 #0005, 1px 0 0 #0005, 0 -1px 0 var(--bar-color), 0 1px 0 var(--bar-color), -1px 0 0 var(--bar-color), 1px 0 0 var(--bar-color);
        opacity:0.85;
        font-size: #{$bar-size *.75};
    }
    
    &::before {
        animation: progress var(--process) linear forwards;        
        animation-delay: var(--seq);
        width:0%;
        background:var(--bar-color) repeating-linear-gradient(45deg, #0003 0, #0003 #{$bar-size * 0.33}, #0002 #{$bar-size * 0.33}, #0002 #{$bar-size * 0.66});
        height:100%;
        max-height:calc(100% - #{$bar-size / 6});
        max-width:calc(100% - #{$bar-size / 6});
        top:#{$bar-size / 12};
        left:#{$bar-size / 12};
        box-shadow:1px 1px 10px var(--bar-color);
    }
}

@keyframes progress {
    0% { width:0%; }
    100% { width:calc(100% - 4px);}
}

@keyframes manifest {
    0% { opacity:0; transform:scale(0); }
    37% { opacity:1; transform:scale(1.2); }
    69% { opacity:1; transform:scale(0.9); }
    85% { opacity:1; transform:scale(1.05); }
    93% { opacity:1; transform:scale(0.975); }
    97% { opacity:1; transform:scale(1.0125); }
    100% { opacity:1; transform:scale(1); }
}

table {
           font-family:sans-serif;
           width:100%;

       }
       tr {
        border-bottom:3px solid #000;
       }

       th {
            padding:3px 10px;
       }

       td {
           text-align:right;
           padding:3px 10px;
       }

td:nth-of-type(-n+3){
    text-align:center;
}

td:nth-of-type(-n+1){
    text-align:left;
}