*,
*::before,
*::after {
    font-family: sans-serif;
    box-sizing: border-box;
}

html,
body {
    max-width: 100%;
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1080px;
    margin: 30px auto;
    align-items: stretch;
    align-content: stretch;
    justify-content: stretch;
    position: relative;

    & > * {
        flex: 1 1 0%;
        border: 1px dotted silver;
    }

    & > form#iteration-info {
        display: flex;
        flex-wrap: wrap;
        max-width: 502px;
        min-width: 502px;
        margin: 0 20px 0 0;
        position: relative;
        &::before {
            content: "Iteration Information";
            display: inline-block;
            position: absolute;
            background-color: white;
            color: #aab;
            transform: translate(10px, -50%);
            padding: 0 5px;
            font-size: 12px;
            top: 5px;
        }

        section.form-fields {
            margin: 5px 0 15px;
            padding: 20px 10px;
            border: 1px solid #94949f;
            border-radius: 10px;
            display: block;
            min-width: 100%;
            width: 100%;
            height: 130px;
            max-height: 130px;
            div {
                margin: 10px 0 0px;
                position: relative;

                & + div {
                    margin-top: 25px;
                }

                input {
                    border: 1px solid #aaa;
                    border-radius: 6px;
                    font-size: 18px;
                    width: 100%;
                    height: 30px;
                    padding: 0 0 2px 8px;
                    transition: color 0.15s ease-out;
                    color: white;
                    &:focus,
                    &:valid {
                        color: black;
                    }
                    &:focus + label,
                    &:valid + label {
                        margin: -50px 0 0 -5px;
                        font-size: 13px;
                    }
                }

                label {
                    display: inline-block;
                    width: 100px;
                    position: absolute;
                    height: 26px;
                    line-height: 26px;
                    margin: -28px 0 0 5px;
                    padding-left: 5px;
                    color: #aaa;
                    width: 500px;
                    transition: all 0.15s ease-out;
                    transition-property: font-size, margin-top;
                    em {
                        display: inline-block;
                        vertical-align: baseline;
                        font-size: 80%;
                    }
                }
            }
        }

        & > section.file-drop-target {
            max-height: calc(100% - 90px);

            label.file-dropzone {
                display: block;
                border: 4px dashed #94949f;
                background-color: #f3f6fa;
                border-radius: 20px;
                overflow: hidden;
                min-height: 270px;
                width: 500px;
                min-width: 500px;
                position: relative;
                font-weight: bold;
                color: #0006;

                &:after {
                    content: "Drag & Drop your JIRA .CSV exports here!";
                    position: absolute;
                    line-height: 3.5;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    font-size: 22px;
                    padding: 10px 20px 0;
                }
                &:before {
                    content: "...or click to browse!";
                    position: absolute;
                    text-indent: -10px;
                    display: block;
                    line-height: 1;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    font-size: 16px;
                    padding: 3% 10%;
                    bottom: 0;
                    left: 0;
                    z-index: 10;
                    line-height:420px;
                    background: transparent
                        url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='opacity:0.2;' viewBox='0 0 20 17'%3E%3Cpath d='M10 0L4.8 4.9h3.3V10h3.8V4.9h3.3L10 0zm9.3 11.5l-3.2-2.1h-2l3.4 2.6H14l-.2.1-.8 2.3H7l-.8-2.2L6 12H2.4l3.4-2.6h-2L.6 11.5c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9L20 13c.1-.5-.2-1.2-.7-1.5z'/%3E%3C/svg%3E")
                        center 80px no-repeat;
                    background-size: 128px;
                }

                [type="file"] {
                    position: absolute;
                    margin-left: -400px;
                }
            }
        }
    }

    & > div.sort-order {
        max-width: 550px;
        height: 425px;
        position:relative;

        button {
            width:50%;
            height:40px;
            position:absolute;
            bottom:0;
            right:0;
            overflow:hidden;
            max-width:40px;
            white-space: nowrap;
            border:2px solid green;
            background-color:lighten(green, 50%);
            font-size:14px;
            transition: 0.3s all ease-in-out;
            text-indent: 40px;

            &::after{
                content:'✓';
                color:white;
                line-height: 40px;
                font-size:40px;
                text-indent: 0px;
                position: absolute;
                display: block;
                background:green;
                width:40px;
                height:40px;
                left:0;
                top:0;
            }

            &:hover {
                max-width:50%;
            }
        }
    }

    .pbars {
        min-width:95%;
        height:25px;
    }
}
.option-box {
    position: fixed;
    left: 100000px;

    & + label {
        display: inline-block;
        text-align: center;
        font-weight: bold;
        padding: 4px 10px;
        margin: 5px 10px 5px;
        border: 2px solid #aaa;
        border-radius: 8px;
        width: 120px;
        transition: 0.2s all ease-in-out;
        vertical-align: top;
        cursor: pointer;

        i {
            font-weight: normal;
            display: block;
            max-height: 0;
            overflow: hidden;
            transition: 0.2s all ease-in-out;
        }
    }

    &:checked + label {
        border-color: green;
        color: green;
        background-color: #cfc;

        &:hover {
            box-shadow: inset 0 0 20px limegreen;

            i {
                max-height: 80px;
            }
        }
    }
}

ul {
    margin: 0;
    padding: 0;

    li {
        display: block;
        position: relative;
        max-width: 600px;
        width: calc(100% - 35px);
        height: 32px;
        font-size: 12px;
        margin: 5px 0 5px 35px;
        line-height: 32px;
        text-indent: 20px;

        &::before {
            content: "";
            display: block;
            height: 32px;
            width: 100%;
            line-height: 30px;
            border-radius: 30px;
            background: #eee;
            color: #333;
            list-style: none;
            border: 2px solid #aaa;
            cursor: grabbing;
            transition: 0.3s all ease-in-out;
            position: absolute;
            z-index: -1;
        }

        &::after {
            content: attr(data-slot);
            display: block;
            height: 30px;
            width: 30px;
            line-height: 38px;
            border-radius: 50%;
            background: #aaa;
            color: #000;
            transition: 0.3s all ease-in-out;
            position: absolute;
            z-index: -1;
            top:0;
            left: -35px;

            text-indent:0;
            text-align:right;
            padding:0;
            font-size:30px;
            letter-spacing: -5px;
            padding-right:5px;
            font-weight:bold;
            color:white;
        }
        &.drag-sort-active {
            background: #eee6;
            color: #3333;
            border: 2px dashed #aaa6;
            transition: 0.3s all ease-in-out;
            transform: scale(0.95);
        }
    }
}

.output-table {
    min-width: 95%;
}

$bar-size:18px;
.progress-bar {
    display:inline-block;
    animation: manifest 0.2s ease-out calc(var(--bc) * 1s) forwards;
    width:$bar-size * 12;
    height:$bar-size;
    border:1px solid #333;
    border-radius: $bar-size / 3;
    margin:$bar-size * 0.4;
    position:relative;
    overflow:hidden;
    background: var(--bar-color) repeating-linear-gradient(45deg, #FFF8 0, #FFF8 10px, #FFFB 10px, #FFFB 20px);
    box-shadow: inset 2px 2px 0 #FFF, inset 2px -2px 0 #FFF, inset -2px 2px 0 #FFF, inset -2px -2px 0 #FFF;
    opacity:0; transform:scale(0);

    &::before, &::after{
        content:'';
        border-radius: $bar-size / 3.5;
        width:100%;
        height:100%;
        position:absolute;
        z-index:1;
    }

    &::after {
        content:attr(title);
        text-align:center;
        font-weight:bold;
        line-height: $bar-size -0.5;
        color:#FFFC;
        text-shadow:0 0 0 var(--bar-color), 0 -1px 0 #0005, 0 1px 0 #0005, -1px 0 0 #0005, 1px 0 0 #0005, 0 -1px 0 var(--bar-color), 0 1px 0 var(--bar-color), -1px 0 0 var(--bar-color), 1px 0 0 var(--bar-color);
        opacity:0.85;
        font-size: #{$bar-size *.75};
    }
    
    &::before {
        animation: progress var(--process) linear forwards;        
        animation-delay: var(--seq);
        width:0%;
        background:var(--bar-color) repeating-linear-gradient(45deg, #0003 0, #0003 #{$bar-size * 0.33}, #0002 #{$bar-size * 0.33}, #0002 #{$bar-size * 0.66});
        height:100%;
        max-height:calc(100% - #{$bar-size / 6});
        max-width:calc(100% - #{$bar-size / 6});
        top:#{$bar-size / 12};
        left:#{$bar-size / 12};
        box-shadow:1px 1px 10px var(--bar-color);
    }
}

@keyframes progress {
    0% { width:0%; }
    100% { width:calc(100% - 4px);}
}

@keyframes manifest {
    0% { opacity:0; transform:scale(0); }
    37% { opacity:1; transform:scale(1.2); }
    69% { opacity:1; transform:scale(0.9); }
    85% { opacity:1; transform:scale(1.05); }
    93% { opacity:1; transform:scale(0.975); }
    97% { opacity:1; transform:scale(1.0125); }
    100% { opacity:1; transform:scale(1); }
}