/*
    See the companion demo in my codepen at https://codepen.io/NerdyDeeds/pen/bfe485cdd899f80bfab8b52c9be4465f
    Usage:     <p class="hydro-meter" style="--value:25; --max:45; --size:200;"></p>

*/
.hydro-meter {
    --animated-liquid: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='150 0 200 250' %3E%3Cpath fill='%23000000CC'%3E%3Canimate attributeName='d' from='M-50 2016V6c100-19 100 19 200 0s100 19 200 0v2010H0z' to='M150 2016V6c100-19 100 19 200 0s100 19 200 0v2010H0z' dur='10s' repeatCount='indefinite' /%3E%3C/path%3E%3Cpath fill='%23000000AA'%3E%3Canimate attributeName='d' from='M150 2016V6c100-19 100 19 200 0s100 19 200 0v2010H0z' to='M-50 2016V6c100-19 100 19 200 0s100 19 200 0v2010H0z' dur='6s' repeatCount='indefinite' /%3E%3C/path%3E%3C/svg%3E");
    --scaled:calc(var(--progress) * (var(--dimensions) / 100));
    --light-color:hsl(var(--progress), 100%, 60%);
    --fill-color:hsl(var(--progress),  100%, 40%);
    --dark-color:hsl(var(--progress),  100%, 35%);
    --dimensions: var(--size, 400);
    --progress:calc(var(--value) / var(--max) * 100);
    
    appearance: none;    
    box-sizing: border-box;
    position:relative;
    outline: none;
    user-select:none;
    pointer-events:none;
    display:block;
    margin: 0;
    
    counter-reset: val var(--value);
    
    height: calc(1px * var(--dimensions));
    width: calc(1px * var(--dimensions));
    max-width: calc(1px * var(--dimensions));
    transform: scale(1);
    border:1px solid black;
    overflow: hidden;
    font-size:calc(0.33px * var(--dimensions));
    font-weight:900;
    font-family:system-ui;
    line-height:0.6;
    border-radius:10px;
    
    &, *  { transition: 0.5s all ease-in-out; }
    
    &::before, &::after {
        counter-reset: max var(--max);
        content:counter(val) " ── " counter(max);
        padding-top:calc(.18px * var(--dimensions));
        word-spacing:1000px;
        display:block;
        position:absolute;
        text-align:center;
        top:0;
        width:100%;
        height:100%;
    }
    
    &::before {
        color:var(--fill-color);
        z-index:-1;
    }
    
    &::after {
        background-color:var(--fill-color);
        color:white;
        mask: var(--animated-liquid);
        mask-position: 0 calc((var(--dimensions) - var(--scaled)) * 1px + (var(--dimensions) / 100 * 1px));
        mask-repeat: repeat-x;
        z-index:1;
    }
}




































/* EVERYTHING BELOW THIS LINE IS JUST FOR THE DEMO AND THE "FANCY" MODIFIER. NONE OF IT IS USED BY THE HYDROMETER */
.fancy {
    --sheen-color:hsla(var(--progress),  100%, 90%, 1);
    --gloss-color:hsla(var(--progress),  100%, 40%, 0.2);
    --gloss-undertone:hsla(var(--progress),  100%, 30%, 0.3);
    border-radius:200px/40px;
    box-shadow:0 15px 20px #0007, 10px 10px 30px #0006, inset 0 -72px 72px #0005, inset 10px 0 10px black, inset -40px 0 40px #0003,
                inset 0 -326px 0 #FFF, inset 0 -329px 30px var(--gloss-undertone), inset 0 -329px 3px var(--gloss-undertone), inset 0 -350px 43px #FFF3, inset 0 -350px 43px #0001, inset 0 -320px 20px var(--gloss-color), inset 10px -100px 10px black, inset -60px -100px 40px #0003 , inset 40px -10px 40px #0003;

    &::before, &::after {
        border-radius:200px/40px;
        opacity:0.9;
        padding-top:100px;
    }
    
    &::after {
        box-shadow: inset 0 -40px 0 red, inset 0 0 20px black, inset 0 -50px 50px #0001,  inset 20px 0 30px var(--fill-color),  inset 30px 0 70px white,  inset 30px 0 120px 20px white, inset -50px -50px 50px #0005, inset 0 318px 0 0 var(--fill-color), inset 0 -400px 0 400px var(--dark-color);
        color:var(--sheen-color);
    }
    
    &::before {
        box-shadow: inset 30px 0 70px white, inset 130px 0 170px 40px white;
        background: linear-gradient(110deg, #00A3 70%, #0003);
    }
    
}

center {
    display:flex;
    width:98vw;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
}
.hydro-meter {
    justify-self:center;
    left:20%;
    transform:translate(-50%,0);
}
p:not(.hydro-meter) {
    font-size:1.5rem;
    font-family:system-ui;
    border-top:2px solid #0002;
    border-left:2px solid #0002;
    
    width:75%;
    padding:1em 10%;
    margin: 2em auto 1em;
	position: relative;
	background: linen;
	border-radius: .4em;
    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        width: 0;
        height: 0;
        border: 34px solid transparent;
        border-left-color: linen;
        border-right: 0;
        border-bottom: 0;
        margin-top: -17px;
        margin-right: -34px;
        }
}
code {
    font-size:1.5rem;
    display:block;
    background-color:wheat;
    width:50%;
    padding:1em 0.75em;
    border:8px double white;
    flex:0 0 auto;
    margin-right:10%;
    align-self:flex-start;
}

* + p:not(.hydro-meter) {
    padding-top:1em;
}
